header {
  text-align: center;
}

.container {
  display: flex;

  gap: 12px;
  flex-wrap: wrap;
}

img {
  height: 550px;
  width: 550px;
}

.info {
  padding: 12px;
}

#cards {
  display: flex;
  text-align: center;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}
